{% extends 'accounts/base.html' %}
{% load staticfiles %}
{% block content %}
<br><br>
<div class="card text-white mb-3" style="max-width: 55rem;background-color: #02101b;margin-left:8rem">
  <div class="card-header" style="background-color:#031625;"><h1>About Us</h1></div>
  <div class="card-body" style="background-color:#031625;">
    <h5 class="card-title">The features of  this  web application  are providing  reviews and ratings of various websites,
       websites can be search by various categories like news, online shopping, sports, banking etc.
        as per need of the user. Provides functions to user that they can share their reviews about
        the various websites and system will generate ratings based on  the user's comments .
    This app provides information about  all general purpose websites and generate ratings according
     to comments so user can find a genuine website for any specific purpose.
  <!--     <p>
       <br>
       The project aims at developing an application which has following features:

       <ul>
        <li>To Provide a portal where user can search about a best website for their specific purpose.</li>
         <li>To Provide facility to user that they can give reviews about any websites.</li>
         <li>To Provide a genuine and most recommended website by the user .</li>
         <li>Get rid of the fake websites which causes fraud and spread wrong information.</li>
       </ul></p>  -->
   </h5>
    </div>
</div>


{% endblock %}
