

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;

}
.a{
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 999;
}
